@model GetRequestModel
@{
    ViewData["Title"] = "Aktivasyonu işlemini Yapmayan Kullanıcı Listesi";
}

@section Head{

}



<div class="row" id="app">
    <div class="col-lg-12">
     

        <div class="pt-1">
            <div class="card">

                <div class="card-body"> 
                    <div class="table-responsive mt-2">
                        <table class="table table-bordered" id="datatable-my">
                            <thead>
                                <tr>
                                    <th>Kullanıcı Adı</th>
                                    <th>Email</th>
                                    <th>Rolü</th>
                                    <th>Name</th>
                                    <th>Surname</th>
                                    <th>Title</th>
                                    <th>Telefon</th>
                                    <th>Durumu</th>
                                    <th>Onay</th>
                                    <th>Ekleme Tarihi</th>
                                    <th>Güncelleme Tarihi</th>  
                                </tr>
                            </thead>
                            <tbody>

                                <tr v-for="(item, index) in admins" class="item">
                                    <td v-text="item.username"></td>
                                    <td v-text="item.email"></td>
                                    <td v-text="item.role?.name"></td>
                                    <td v-text="item.name"></td>
                                    <td v-text="item.surname"></td>
                                    <td v-text="item.title"></td>
                                    <td v-text="item.phone"></td>
                                    <td>
                                        <span v-text="item.isSuspend ? 'Askıda':'Askıda Değil'"></span>
                                      
                                    </td>
                                    <td v-text="item.isConfirmed ? 'Onaylı':'Onaylı Değil'"></td>
                                    <td v-text="dateFormatFull(item.addDate)"></td>
                                    <td v-text="dateFormatFull(item.updateDate)"></td>
                                    
                                </tr>
                            </tbody>
                           
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
     
</div>


@section Scripts{
    <script src="~/views-js/admin/admin-un-confirmed.js" type="module" defer></script>
}

