@{
    Layout = null;
    ViewData["Title"] = "Error Page";
    string details = "";
    var tmp = ViewBag?.details ?? "";
    if (!string.IsNullOrEmpty(tmp))
        details = tmp;


    string status = "500";
    var tmp2 = ViewBag?.status ?? "";
    if (!string.IsNullOrEmpty(tmp2))
        status = tmp2;


} 


<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <title>Said YUNUS | Error Page</title>
    <link rel="icon" type="image/x-icon" href="~/theme/src/assets/img/favicon.ico" />
    <link href="~/theme/modern-light-menu/css/light/loader.css" rel="stylesheet" type="text/css" />
    <link href="~/theme/modern-light-menu/css/dark/loader.css" rel="stylesheet" type="text/css" />
    <script src="~/theme/modern-light-menu/loader.js"></script>
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet">
    <link href="~/theme/src/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <link href="~/theme/modern-light-menu/css/light/plugins.css" rel="stylesheet" type="text/css" />
    <link href="~/theme/src/assets/css/light/pages/error/error.css" rel="stylesheet" type="text/css" />

    <link href="~/theme/modern-light-menu/css/dark/plugins.css" rel="stylesheet" type="text/css" />
    <link href="~/theme/src/assets/css/dark/pages/error/error.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->

    <style>
        body.dark .theme-logo.dark-element {
            display: inline-block;
        }

        .theme-logo.dark-element {
            display: none;
        }

        body.dark .theme-logo.light-element {
            display: none;
        }

        .theme-logo.light-element {
            display: inline-block;
        }

        .error .error-number {
            font-size: 160px;
            color: #060818;
            font-weight: 600;
            margin-bottom: 5px;
            margin-top: 15px;
            text-shadow: 0px 5px 4px rgba(31, 45, 61, 0.1019607843);
            display: none;
        }

        .error .error-img {
            max-width: 529px;
             margin-bottom: 0px; 
            width: 100%;
            width: 363px;
        }
    </style>



    <!-- BEGIN GLOBAL MANDATORY SCRIPTS -->
    <script src="~/theme/src/bootstrap/js/bootstrap.bundle.min.js" defer></script>
    <!-- END GLOBAL MANDATORY SCRIPTS -->

</head>
<body class="error text-center">

    <!-- BEGIN LOADER -->
    <div id="load_screen">
        <div class="loader">
            <div class="loader-content">
                <div class="spinner-grow align-self-center"></div>
            </div>
        </div>
    </div>
    <!--  END LOADER -->
     
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 me-auto mt-5 text-md-left text-center">
                <a href="index.html" class="ms-md-5">
                    <img alt="image-404" src="~/theme/src/assets/img/logo.svg" class="dark-element theme-logo">
                    <img alt="image-404" src="~/theme/src/assets/img/logo2.svg" class="light-element theme-logo">
                </a>
            </div>
        </div>
    </div>
    <div class="container-fluid error-content">
        <div class="">
            <h1 class="error-number d-block " id="error-staus">@status</h1>
            <p class="mini-text">Ooops!</p>
            <p class="error-text mb-5 mt-1" id="error-message">@details</p>
            <img src="~/theme/src/assets/img/error.svg" alt="cork-admin-404" class="error-img">
            <a href="/Account/Login" class="btn btn-dark mt-5 w-100">Tekrar Giriş Yap</a>
        </div>
    </div>
    
</body>
</html>








