@inject IAntiforgery antiforgery
@{
    Layout = null;
    var request_token = antiforgery.GetAndStoreTokens(Context).RequestToken;
    var token = Convert.ToString(Context.Request.Query["token"]);


    var env = Environment.GetEnvironmentVariable("ASPNETCORE_ENVIRONMENT");
}
<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <title>SAID YUNUS | ŞİFREMİ UNUTTUM </title>
    <link rel="icon" type="image/x-icon" href="~/theme/src/assets/img/favicon.ico" />
    <link href="~/theme/layouts/modern-light-menu/css/light/loader.css" rel="stylesheet" type="text/css" />
    <link href="~/theme/layouts/modern-light-menu/css/dark/loader.css" rel="stylesheet" type="text/css" />
    <script src="~/theme/layouts/modern-light-menu/loader.js"></script>

    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet">
    <link href="~/theme/src/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <link href="~/theme/layouts/modern-light-menu/css/light/plugins.css" rel="stylesheet" type="text/css" />
    <link href="~/theme/src/assets/css/light/authentication/auth-cover.css" rel="stylesheet" type="text/css" />

    <link href="~/theme/layouts/modern-light-menu/css/dark/plugins.css" rel="stylesheet" type="text/css" />
    <link href="~/theme/src/assets/css/dark/authentication/auth-cover.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->


    <link href="~/lib/toastr.js/toastr.min.css" rel="stylesheet" />






    <script type="text/javascript">
        const VerifyToken = "@request_token";
        const Token = "@token";
    </script>

    <script src="~/theme/src/plugins/src/jquery/jquery.min.js" defer></script>
    <script src="~/theme/src/bootstrap/js/bootstrap.bundle.min.js" defer></script>
    @if (env == "Production")
    {
        <script src="~/lib/vue/vue.global.prod.js" defer></script>
    }
    else
    {
        <script src="~/lib/vue/vue.global.min.js" defer></script>

    }
    <script src="~/lib/axios/axios.min.js" defer></script>
    <script src="~/lib/sweetalert2/sweetalert2.all.min.js" defer></script>
    <script src="~/lib/toastr.js/toastr.min.js" defer></script>


    <script src="~/views-js/account/reset-password-page.js" type="module" defer></script>


</head>

<body class="form">

    <!-- BEGIN LOADER -->
    <div id="load_screen">
        <div class="loader">
            <div class="loader-content">
                <div class="spinner-grow align-self-center"></div>
            </div>
        </div>
    </div>
    <!--  END LOADER -->

    <div class="auth-container d-flex h-100" id="app">

        <div class="container mx-auto align-self-center">

            <div class="row">

                <div class="col-6 d-lg-flex d-none h-100 my-auto top-0 start-0 text-center justify-content-center flex-column">
                    <div class="auth-cover-bg-image"></div>
                    <div class="auth-overlay"></div>

                    <div class="auth-cover">

                        <div class="position-relative">

                            <img src="~/theme/src/assets/img/auth-cover.svg" alt="auth-img">

                            <h2 class="mt-5 text-white font-weight-bolder px-2">----</h2>
                            <p class="text-white px-2">---</p>
                        </div>
                    </div>
                </div>

                <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-8 col-12 d-flex flex-column ms-lg-auto  align-self-center me-lg-0 mx-auto">
                    <div class="card">
                        <div class="card-body">
                            <form v-on:submit.prevent="resetPassword()">
                                <div class="row">
                                    <div class="col-md-12 mb-3">

                                        <h2>Şifre sıfırlama</h2>
                                        <p>Yeni şifrenizi giriniz.</p>

                                    </div>
                                    <div class="col-md-12">
                                        <div class="mb-4">
                                            <label class="form-label">Yeni Şifre</label>
                                            <input type="text" v-model="newPassword.password" class="form-control" required minlength="4" maxlength="50" pattern="[\S]+" placeholder="Şifreyi giriniz">
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="mb-4">
                                            <label class="form-label">Yeni Şifre Tekrar</label>
                                            <input type="password" v-model="newPassword.rePassword" class="form-control" required minlength="4" maxlength="50" pattern="[\S]+" placeholder="Şifre Tekararı">
                                            <span class="text-danger" v-if="newPassword.password && newPassword.password != newPassword.rePassword">Şifre eşleşmiyor!</span>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <div class="mb-4">
                                            <button class="btn btn-secondary w-100" :disabled="newPassword.password && newPassword.password != newPassword.rePassword">Gönder</button>

                                        </div>
                                    </div>

                                </div>
                            </form>

                            <div class="col-12">
                                <div class="mb-4">
                                    <a href="/" class="btn btn-secondary w-100">Anasayfa</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>




   


</body>
</html>